*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Arial';
/*	font-size: 16px;
*/	background-color: aquamarine;
	padding: 20px;	
}


.fa:hover{
	cursor: pointer;
}


.align-right{
	margin: 10px;
}


.fs18 {
	font-size: 18px;
}

.buton-submit {
	background-color: #7AFF00;
	font-size: 16px;
}

.indisponibil {
	background-color: white;
	font-size: 16px;
	color: red;
}

