.center {
	text-align: center;
	margin: 0 auto;
}
.heading {
	color: blue;
	font-size: 28px;
	font-weight: 1px;
	font-family: monospace;
}
.box {
	width: 20%;
	border: 1px solid green;
	border-radius: 3px;
	background-color: #F4FAC8;
	padding:20px;
}
table tr td {
	padding: 5px;
}

.left {
	text-align: left;
}