
.center {
	text-align: center;
}

table, td {
	border: 1px solid green;
	border-radius: 3px;
	margin: 0 auto;
	border: 1px solid black;
}

td {
	border: 1px solid green;
	background-color:  #F4FAC8;
	width: 30px;
	padding: 5px 10px;
	height: 30px;
	text-align: center;
	vertical-align: center;
}

.calcul {
	text-align: right;
	padding-right: 5px;
}
/*.calcul {
	padding: 0 !important;
}*/
input[type='textbox'] {
	width: 200px;
	padding: 10px 10px;
	border-radius: 3px;
	color: black;
	text-align: right;
}