*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Arial';
	font-size: 16px;
	background-color: lightblue;
	padding: 20px;	
}

.text-center{
	text-align: center;
}

.text-left{
	text-align: left;
}

.text-right{
	text-align: right;
}

.align-right{
	margin: 10px;
}

.f18 {
	font-size: 18px;
}

.f16 {
	font-size: 16px!important;
}

.btn-description {
	background-color: #7AFF00;
	padding: 0 20px;
}

.fa:hover{
	cursor: pointer;
}